body {
    display: flex;
    justify-content: center;
    margin: 8vh;
}

.fst {
    border: 1px solid red;
    padding: 2rem;
}

.fst h5 {
    font-weight: bold;
}

ul {
    margin-top: 8vh;
}

.footer {
    margin-top: 8vh;
}