body {
    display: grid;
    justify-content: center;
    margin: 8vh;
}

.fst {
    display: grid;
    place-items: center;
    padding: 2rem;
  
}

.fst:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }

.fst h5 {
    font-weight: bold;
}

ul {
    margin-top: 8vh;
}

.footer {
    margin-top: 8vh;
}