body {
    display: grid;
    justify-content: center;
    margin: 18vh;
}

.fst {
    display: grid;
    place-items: center;
    padding: 1em;
    box-shadow: 0 0 21px rgba(160, 159, 159, 0.2);
}

h6 {
    margin: 15vh;
    text-align: center;
    /* color: white; */
    }
